<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Meeting Minutes Management System
            </h3>
        </div>
        <div class="col-md-10">
            <p>
                Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
            </p>
        </div>
        <div class="col-md-2">
            <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-rounded" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable" id="tabs-464487" ng-controller="TabCtrl as tabCtrl">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: tabCtrl.isSet(1)}">
                        <a href ng-click="tabCtrl.setTab(1)">Summary</a>
                    </li>
                    <li ng-class="{active: tabCtrl.isSet(2)}">
                        <a href ng-click="tabCtrl.setTab(2)">Add</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" ng-show="tabCtrl.isSet(1)">
                        <p>
                            I'm in Section 1.
                        </p>
                        <minutes-summary></minutes-summary>
                    </div>
                    <div class="tab-pane" ng-show="tabCtrl.isSet(2)">
                        <p>
                            Howdy, I'm in Section 2.
                        </p>
                        <minutes-add></minutes-add>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>Angular Fullstack v2.0.13 |
            <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
            <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
        </p>
    </div>
</footer>
