.carousel-inner .item {
  max-height: 200px; min-height: 200px;
}
.carosuel-inner .item .img {
  min-height: 200px;
}
.navbar{
  margin-bottom:0px;
}
.col-md-8{
  text-align: center;
}
.table{
  text-align: left;
}
